
{% block content %}

<h1>Warehouse list</h1>
<br>
{% for article in article_list %}
<div class="card">
    <div class="card-header">
        <span class="fw-bold">
            <a href="{{ warehouse.get_absolute_url }}">{{warehouse.title}}</a>
                    {{warehouse.manager_full_name}} - {{warehouse.municipality}} ({{warehouse.country}}) 
        </span> 
    </div>
    <div class="card-body text-center text-muted">
        {% if warehouse.organisation.pk == request.user.organisation.pk %}
        <a href="#">Edit</a> 
        <a href="#">Delete</a>
        {% endif %}
    </div>

</div>
<br>
{% endfor %}
{% endblock content %}